{% load i18n unfold drmis_version %}

<nav id="nav-sidebar-inner" class="bg-base-50 flex flex-col min-h-screen dark:text-font-default-dark dark:bg-base-950/20 {% element_classes 'navigation_inner' %}">
    {% include "unfold/helpers/navigation_header.html" %}

    {% include "unfold/helpers/search.html" %}

    {% if sidebar_navigation|length > 0 %}
        {% include "unfold/helpers/app_list.html" with app_list=available_apps %}
    {% else %}
        {% include "admin/app_list.html" with app_list=available_apps show_changelinks=False %}
    {% endif %}

    {% include "unfold/helpers/navigation_user.html" %}

    <div class="border-t border-base-200 px-6 py-3 mt-auto dark:border-base-800">
        <p class="text-subtle text-xs leading-snug" title="DRMIS release">
            {% drmis_version_display %}
        </p>
    </div>
</nav>
